// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#homeimg {
  max-height: 600px;
  display: block;
  margin: 0 auto;
  max-width: 500px;
}

.bowl {
  max-width: 300px;
}

.contact {
  max-width: 400px;
}