// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#homeimg {
  max-height: 600px;
  display: block;
  margin: 0 auto;
  max-width: 500px;
}
#navbar{
  max-height: 100px;
}
.bowl {
  max-width: 300px;
}

.contact {
  max-width: 400px;
}
.brand{
    padding: 0;
}
.address-bar{
    padding-bottom: 5px;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid black;
    border-radius: 100% !important;
    font-size: 40px;
    color: black;
    background: transparent;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    &:hover,
    &:focus {
        outline: none;
        color: grey;
        background: rgba(black, 0.1);
    }
    i.animated {
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 1s;
        -moz-transition-property: -moz-transform;
        -moz-transition-duration: 1s;
    }
    &:hover {
        i.animated {
            -webkit-animation-name: pulse;
            -moz-animation-name: pulse;
            -webkit-animation-duration: 1.5s;
            -moz-animation-duration: 1.5s;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }
    }
}
